Project 1 
Basics in Python for Data Science 
 Creating a LIST 
 Creating a Tuple
 Creating a Dictionary
 Creating a Set

In [1]:
# Creating a LIST 

my_list = [65,98,56,45,82,83,'josheph','hello']
print(my_list)

[65, 98, 56, 45, 82, 83, 'josheph', 'hello']

In [2]:
# Adding an element in the list 
my_list.append(36)
print(my_list)

[65, 98, 56, 45, 82, 83, 'josheph', 'hello', 36]

In [3]:
# Removing an element from the list 
my_list.remove(56)
my_list

[65, 98, 45, 82, 83, 'josheph', 'hello', 36]

In [4]:
# Modifying an element in the list 
my_list[3] = 938
my_list

[65, 98, 45, 938, 83, 'josheph', 'hello', 36]

Create a Dictionary

In [5]:
my_dict = {'id':236, 'Name':'Nitish Kumar', 'Age':22}
my_dict

{'id': 236, 'Name': 'Nitish Kumar', 'Age': 22}

In [6]:
# Adding an element in the Dictionary 
my_dict['Gender']='Male'
my_dict

{'id': 236, 'Name': 'Nitish Kumar', 'Age': 22, 'Gender': 'Male'}

In [7]:
# Removing an element from the Dictionary 
del(my_dict['Age'])
my_dict

{'id': 236, 'Name': 'Nitish Kumar', 'Gender': 'Male'}

In [8]:
# Modifying an element in the Dictionary 
my_dict['Name'] = 'Josheph'
my_dict

{'id': 236, 'Name': 'Josheph', 'Gender': 'Male'}

In [9]:
# Creating Set
my_set = {36,58,45,62,96,75,46,45}
my_set

{36, 45, 46, 58, 62, 75, 96}

In [10]:
# Adding an element in the Set 
my_set.add(94)
my_set

{36, 45, 46, 58, 62, 75, 94, 96}

In [11]:
# Removing an element from the Set 
my_set.remove(58)
my_set

{36, 45, 46, 62, 75, 94, 96}

In [12]:
# Modifying an element in the Set 
my_set.discard(75)
my_set.add(10)
my_set

{10, 36, 45, 46, 62, 94, 96}